@model MVC.Models.Account.RegisterViewModel;
<link rel="stylesheet" href="~/css/login.css" />

<div class="loginContainer">
    <form asp-action="Register" method="post" id="registerForm">
        <h1 class="h3 mb-3 fw-normal">Skapa en ny användare</h1>

        <div class="form-floating mb-2">
            <input asp-for="Name" class="form-control" placeholder="Namn" />
            <label asp-for="Name">Namn</label>
            <p id="error-Name" class="error-text"></p>
        </div>

        <div class="form-floating mb-2">
            <input asp-for="Email" class="form-control" placeholder="namn@exempel.com" />
            <label asp-for="Email">E-post</label>
            <p id="error-Email" class="error-text"></p>
        </div>

        <div class="form-floating mb-2">
            <input asp-for="Phonenumber" class="form-control" placeholder="Telefonnummer" />
            <label asp-for="Phonenumber">Telefonnummer</label>
            <p id="error-Phonenumber" class="error-text"></p>
        </div>

        <div class="form-floating mb-2">
            <select asp-for="selectedRole" class="form-control" asp-items="@(new SelectList(Model.roles))">
                <option value="">-- Välj en roll --</option>
            </select>
            <label asp-for="selectedRole">Välj roll</label>
            <p id="error-selectedRole" class="error-text"></p>
        </div>

        <div class="form-floating mb-2">
            <input asp-for="Password" type="password" class="form-control" placeholder="Lösenord" />
            <label asp-for="Password">Lösenord</label>
            <p id="error-Password" class="error-text"></p>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Bekräfta lösenord" />
            <label asp-for="ConfirmPassword">Bekräfta lösenord</label>
            <p id="error-ConfirmPassword" class="error-text"></p>
        </div>

        <button type="submit" class="btn btn-primary w-100 py-2">Registrera användare</button>
    </form>
</div>

<script src="/js/account.js"></script>
