@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
@*     @if (User.Identity.IsAuthenticated)
        { *@
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" style="padding: 0;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                <div class="logoContainer mb-4">
                    <img src="~/images/comapnylogo.png"/>
                </div>


                    <ul class="nav nav-pills flex-column mb-auto" id="menu">

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link text-white">
                            <i class="bi bi-house"></i>
                                Hem
                            </a>
                        </li>
                    <li>
                        <a asp-controller="Order" asp-action="Index" class="nav-link text-white">
                            <i class="bi bi-bag"></i> Ordrar
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calendar" asp-action="Index" class="nav-link text-white">
                            <i class="bi bi-calendar"></i> Kalender
                        </a>
                    </li>

              
                        <li>
                            <a asp-controller="Hat" asp-action="Index" class="nav-link text-white">
                                <i class="bi bi-mortarboard"></i> Alla hattar
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Material" asp-action="Material" class="nav-link text-white">
                                <i class="bi bi-circle-square"></i> Alla material
                            </a>
                        </li>
                        <li>
                            <a asp-controller="MaterialOrder" asp-action="MaterialOrder" class="nav-link text-white">
                             <i class="bi bi-truck"></i> Materialorder
                             </a>
                        </li>
                    <li>
                        <a asp-controller="Message" asp-action="Index" class="nav-link text-white">
                            <i class="bi bi-chat"></i> Meddelanden
                        </a>
                    </li>
                        @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                        {
                            <div class="dropdown">
                                <button class="nav-link text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-gear"></i>

                                    Anställda
                                </button>

                                <ul class="dropdown-menu">
                                    <li><a asp-action="UserList" asp-controller="User" class="dropdown-item">Se alla anställda</a></li>
                                    <li><a asp-action="Register" asp-controller="Account" class="dropdown-item">Lägg till ny anställd</a></li>
                                </ul>
                            </div>
                        }

                <div class="dropdown">
                    <button class="nav-link text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-gear"></i>

                        Kunder
                    </button>

                    <ul class="dropdown-menu">
                        <li><a asp-action="CustomerList" asp-controller="Customer" class="dropdown-item">Se alla kunder</a></li>
                        <li><a asp-action="Create" asp-controller="Customer" class="dropdown-item">Lägg till ny kund</a></li>
                    </ul>
                </div>


                   
                        <li>
                            <a asp-controller="Account" asp-action="Logout" class="nav-link text-white">
                               <i class="bi bi-x-circle"></i> Logga ut
                            </a>
                        </li>
                        @*  <li>
                            <a asp-controller="Home" asp-action="Privacy" class="nav-link text-white">
                                Privacy
                            </a>
                        </li> *@

                    </ul>

                </div>
            </div>
        @* } *@

    <div class="mainContainer">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
