@page
@model MVC.Views.Users.UsersModel
@{
}

<link rel="stylesheet" href="~/css/user.css"/>

<div class="userTableContainer">
<table class="table">
    <tr>
        <td>Hello, world!</td>
    </tr>
    <tr>
        <td>Hello, world!</td>
    </tr>
    
</table>
</div>