
.widgetFlexBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    margin: 2rem;
}

.statisticsContainer {
    width: 500px;   
    
}

.cardHeaderContainer {
    display: flex;
    justify-content:space-between;
}

.calenderWidget {
    width: 300px; 
}

.inventoryWidget {
    width: 300px;
}

.messageContainer {
    grid-column: 1 / span 2;
}

.widgetFlexBox > div {
    /*
    width: 500px;*/
}
