
.widgetFlexBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 2rem;
    justify-content: center;
}

    .widgetFlexBox > div {
        margin: 2rem;
        width: 100%;
        min-width: 100px; /* Viktigt! Tillåter kortet att krympa under sin naturliga bredd */
        overflow: hidden; /* Kapar allt som sticker ut */
    }

.statisticsContainer {
    max-height: 500px !important;

    
}

.cardHeaderContainer {
    display: flex;
    justify-content:space-between;
}

.calenderWidget {
    max-height: 500px !important;
}

.inventoryWidget {

}

.messageContainer {
    grid-column: 1 / span 2;
    max-height: 400px;
    max-width: 80%;
}



