
.noDisplay {
    display: none;
}

.orderSum {
    font-size: 2rem;
}

.orderAvg {
    font-size: 2rem;
}



.salesSumFooter {
    height: 10rem;
}

.statGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    margin: 2rem;
    justify-content: center;
}

.statGrid > .card {
    height: 300px;

}

.SalesSumContainer {
    margin-bottom: 0.5rem;
}

.lineChartCard {
    grid-column: 1 / span 2;
    height: 300px !important;
}

@media only screen and (max-width: 600px) {
    {
        .lineChartCard {
            grid-column: 1;
        }
    }

}


.lineChartInner {
   
}

.pageTitleContainer {
    margin: 1rem 1.7rem !important;
}

#salesChart {
    height: 250px;
}


