@model MVC.ViewModels.CustomerViewModels.HistoryCustomerViewModel
@{
}

<link rel="stylesheet"
	  href="~/css/historyCustomer.css" />

<div class ="header-customer">

    <h2>@Model.Name</h2>

  
</div>




<table class="table table-hover">
   
    <thead>
        <tr>

            <th scope="col">Ordernummer</th>
            <th scope="col">Orderdatum</th>
          
            <th scope="col">Totalpris</th>
            <th scope="col">Kundrabatt</th>
            <th scope="col">Status</th>
            
        </tr>
    </thead>
    <tbody>


        @foreach (var order in Model.allOrders)
        {
            <tr>
                <td>#@order.Id.ToString().Substring(Math.Max(0, Model.Id.ToString().Length - 5))</td>

         
                <td>@order.OrderDate</td>
      
                <td>@order.FinalPrice.ToString("C0", new System.Globalization.CultureInfo("sv-SE"))</td>
                <td>@order.Discount%</td>
                <td>
                    
                        
                           @{
        var status = order.Status.ToString() switch
        {
            "Pending"    => "Väntar",
            "InProgress" => "Pågående",
            "Completed"  => "Klar",
            "Delivered"  => "Levererad",
            _            => order.Status.ToString()
        };
    }
    @status
                    
                </td>

                 
              
              
            </tr>

          
        }

    </tbody>
</table>









































